/* ==================================================================
   Icon
   ================================================================== */

@import "styles/animation";
@import "styles/colors";
@import "styles/sizes";

.wrap {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 100%;
  transition: opacity var(--speed-default) var(--easing-default);

  &:hover {
    opacity: 0.5;
  }
}

.blue {
  color: var(--color-white);
  background: var(--color-linkedin);
}

.icon {
  font-size: 30px;
}
