body {
  background-color: rgb(250, 250, 250);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(41, 41, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: rgb(41, 41, 41);
  text-decoration: underline;
  transition: color 0.1s ease-in;
}

a:hover {
  color: rgb(199, 199, 199);
}
